@mixin bannerPaddingAndMargin {
    padding-top: 0;
    margin-top: 0;
}

@mixin noPaddingOrMargin {
    padding: 0;
    margin: 0;
}

@mixin headingPaddingAndMargin {
    padding: 20px 0;
    margin: 0;
}

@mixin columnPadding {
    padding-left: 10px;
    padding-right: 10px;
}

@mixin centeredBackgrounds {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin fontSizeFamilyColor($size: null, $family: null, $color: null) {
    font-size: $size;
    font-family: $family;
    color: $color;
}
