/* SASS VARIABLES */

/* COLORS */
$primaryColor: #CA433D;
$secondaryColor: white;
$darkColor: rgb(35, 35, 35);
$seperatorColor:white;
$darkColorLightOpaque: rgba(35, 35, 35, 0.1);
$darkColorDarkOpaque: rgba(35, 35, 35, 0.6);

/* FONTS */
$fontPrimary: 'Oswald', sans-serif;
$fontSecondary: 'Roboto Condensed', sans-serif;

/* FONT SIZES */
$headerFontSize: 40px;
$navFontSize: 20px;
$paragraphFontSize: 16px;

/* LETTER SPACING */
$letterSpacing:0.5px;

/* BORDER RADIUS */
$borderRadius: 5px;

/* LAYOUT WIDTHS */
$contentWidth: 1024px;
$mapContentWidth: 1200px;

/* OPACITY */
$opaqueHover: 75%;
$opaque: 30%;
$navOpaqueBackground: rgba(10, 10, 10, 0.75);
$opaqueBackground: rgba(10, 10, 10, 0.85);

/* TRANSITION SPEEDS */
$transitionSpeed: 300ms;
$navScrollingSpeed: 600ms;
