@import "variables";
@import "mixins";

/* ============================= */
/* ======== BASE STYLES ======== */
/* ============================= */

h1, h2, h3, h4, h5, h6, p {
    @include bannerPaddingAndMargin;
}

h1, h2 {
    @include fontSizeFamilyColor($headerFontSize, $fontPrimary);
}

h3 {
    font-family: $fontPrimary;
}

p {
    @include fontSizeFamilyColor($navFontSize, $fontSecondary);
}

a {
    color: $primaryColor;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* ======================== */
/* ======== LAYOUT ======== */
/* ======================== */

.navContainer,
.nav {
    left: 0;
    right: 0;
    top: 0;
    transition: $transitionSpeed;
}

.navContainer {
    position: fixed;
    background-color: $navOpaqueBackground;
    display: block;
    height: 75px;
    z-index: 200;
    border-bottom: 2px solid $darkColorLightOpaque;
}

.nav {
    max-width: $contentWidth;
    height: 100%;
    margin: 0 auto;
    @include fontSizeFamilyColor($navFontSize, $fontPrimary);
}

.slideshowSection,
.slideshowSection img {
    max-width: 100%;
}

.slideshowSection {
    background-attachment: fixed;
    @include centeredBackgrounds;
    height: 650px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
}

.main,
.footer {
    position: relative;
    top: 650px;
    z-index: 150;
}

.section {
    background-color: $secondaryColor;

    h1 {
        text-align: center;
        @include headingPaddingAndMargin;
        color: $primaryColor;
    }
}

/* Change all dark section background colors here */
.whatsOnSection,
.aboutSection,
.contactSection,
.footer {
    background-color: $darkColor;
}

.wrapper,
.verticalWrapper {
    display: grid;
}

.wrapperLarge {
    max-width: $mapContentWidth;
    margin: 0 auto;
    padding: 50px 0;
}

.wrapper {
    grid-template-columns: repeat(6, 1fr);
}

.verticalWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#toTopIcon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: $primaryColor;
    width: 50px;
    height: 50px;
    z-index: 1000;
    border-radius: 50%;
    transition: $transitionSpeed;
    cursor: pointer;
}

.toTopIcon {
    opacity: 0.0;

    p {
        @include noPaddingOrMargin;
        line-height: 30px;
        padding: 10px 0;
        text-align: center;
        @include fontSizeFamilyColor($paragraphFontSize, $color: $secondaryColor);
    }
}

/* ========================= */
/* ======== MODULES ======== */
/* ========================= */

.navLogo {
    float: left;
    max-width: 45%;
    background-image: url('../img/logo/logo1.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.navListItems {
    float: right;
    @include noPaddingOrMargin;

    .navListItem {
        display: inline-block;
        list-style-type: none;
        margin: 12.5px 10px 12.5px 0;

        a {
            display: block;
            padding: 0 20px;
            line-height: 50px;
            border-radius: $borderRadius;
            transition: $transitionSpeed;
        }
    }
}

.slideshowToggle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);

    &:hover {
        cursor: pointer;
    }
}

.prevToggle {
    left: 10%;
}

.nextToggle {
    right: 10%!important;
}

.carousel-indicators {
    .active {
        background-color: $primaryColor;
    }
}

.carousel-inner {
    height: 100%;

    .item {
        @include centeredBackgrounds;
        height: 100%;
    }

    .item:nth-child(1) {
        background-image: url('../img/slideshow/slideshow1.png');
    }

    .item:nth-child(2) {
        background-image: url('../img/slideshow/slideshow2.png');
    }

    .item:nth-child(3) {
        background-image: url('../img/slideshow/slideshow3.png');
    }
}

/* REMOVES THE GRADIENT FROM BEHIND THE SLIDESHOW TOGGLES */
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.slideshowBlurb {
    position: absolute;
    top: 210px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: $borderRadius;
    background-color: $opaqueBackground;
    max-width: 600px;
    padding: 40px 0;

        h1,
        h2 {
            color: $secondaryColor;
        }

        h1,
        h2,
        p {
            @include noPaddingOrMargin;
            text-align: center;
        }

        h1 {
            font-size: 80px;
            letter-spacing: 1px;
        }

        h2 {
            font-size: 25px;
            letter-spacing: 2px;
            margin-bottom: 0px;
        }

        p {
            color: $primaryColor;
            font-size: 20px;
            letter-spacing: $letterSpacing;
        }
}

.contactWrapper {
    margin: 0 auto;
    max-width: $contentWidth;
}

.event {
    @include centeredBackgrounds;
    height: 350px;
    grid-row: 1;
    max-width: 100%;
}

.event1 {
    grid-column: 1 / 3;
    background-image: url('../img/event/event1.png');
}

.event2 {
    grid-column: 3 / 5;
    background-image: url('../img/event/event2.jpg');
}

.event3 {
    grid-column: 5 / 7;
    background-image: url('../img/event/event3.png');
}

.eventOverlay {
    background-color: $navOpaqueBackground;
    position: relative;
    z-index: 500;
    display: grid;
    height: 100%;
    opacity: 0;
    transition: $transitionSpeed;

    .inner {
        grid-row: 2 / 3;
        padding: 10px;
    }

    .inner p {
        max-width: 400px;
        margin: 0 auto;
    }

    .inner h2,
    .inner h3 {
        font-family: $fontPrimary;
        margin-bottom: 10px;
    }

    h3 {
        color:$primaryColor;
        text-align: center;
    }
    h2,
    p {
        color: $secondaryColor;
        text-align: center;
    }
}

.eventOverlayShowing {
    opacity: 1;
}

#mapContainer {
    position: relative;
    height: 500px;
    width: 100%;
}

#map,
.locationSection {
    top: 0;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.locationSection {
    max-width: $mapContentWidth;
    text-align: center;
}

.review {
    grid-row: 1;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 30px;

    p {
        @include noPaddingOrMargin;
    }
}

.review1 {
    grid-column: 1 / 3;
}

.review2 {
    grid-column: 3 / 5;
}

.review3 {
    grid-column: 5 / 7;
}

.locationSection {
    grid-row: 1;
    background-color: $darkColor;
}

.locationMap {
    grid-column: 1 / 4;
}

.locationBlurb {
    grid-column: 4 / 7;
}

.blurbWrapper {
    position: relative;
    padding-left: 35px;
    top: 50px;

    h1 {
        padding-top: 0;
        padding-bottom:20px;
    }

    p {
        padding-bottom: 20px;
        color: $secondaryColor;
    }

    .locationTime {
        color: $primaryColor;
        border: solid 2px $primaryColor;
        padding: 5px 20px;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
    }

    .innerTop {
        top: 0;
    }

    .innerBottom {
        bottom: 0;
    }
}

.form {
    grid-row: 1;
    text-align: center;
    padding: 50px 25px;

    form {
        background-color: $secondaryColor;
        border-radius: $borderRadius;
        padding: 0 10px;
    }
}

.form1 {
    grid-column: 1 / 4;
}

.form2 {
    grid-column: 4 / 7;
}

.formFieldset {
    border: none;
    margin: 0;
    text-align: left;
    padding: 15px 10px;

    label {
        display: block;
        margin-bottom: 8px;
    }

    textarea {
        // Makes sure the message textarea cant be horizontally resized
        max-width: 100%;
    }

    input[type="email"],
    input[type="text"],
    textarea,
    label {
        @include fontSizeFamilyColor($paragraphFontSize, $fontSecondary, $darkColor);
    }

    input[type="email"],
    input[type="text"],
    textarea {
        width: 100%;
        padding: 15px;
        border-radius: $borderRadius;
        border: 2px solid $primaryColor;
        outline: 0;
    }
}

 .submitButton {
    background-color: $primaryColor;
    border: none;
    border-radius: $borderRadius;
    padding: 15px 80px;
    margin-bottom: 40px;
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: $letterSpacing;
    outline: 0;
    @include fontSizeFamilyColor($navFontSize, $fontSecondary, $secondaryColor);
}

.reviewSection {
    div {
        padding:0px;
    }
}

.starRatingWrapper {
    font-size: $headerFontSize;
    padding-bottom: 5px;
}

.footerColumn {
    color: $secondaryColor;
    text-align: center;
    @include columnPadding;

    a {
        transition: $transitionSpeed;
        &:hover {
            color: $secondaryColor;
            text-decoration: none;
        }
    }
}

.footerColumn1 {
    grid-column: 1 / 3;
}

.footerColumn2 {
    grid-column: 3 / 5;
}

.footerColumn3 {
    grid-column: 5 / 7;
}

.socialIcons {
    grid-column: 1;
    background-color: $primaryColor;
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 75px;
    z-index: 1000;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;

    .socialIcon {
        display: block;
        height: 75px;
        padding: 10px;

        a {
            display: block;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .socialIcon-facebook {
        grid-row: 1 / 2;
    }

    .socialIcon-instagram {
        grid-row: 2 / 3;
    }

    .socialIcon-youtube {
        grid-row: 3 / 4;

        img {
            border-radius: $borderRadius;
        }
    }
}

/* ======================= */
/* ======== STATE ======== */
/* ======================= */

.is-activeNav {
    color: $secondaryColor!important;
}

.is-activeNavDark {
    color: $darkColor!important;
}

.whiteHover:hover,
.blackHover:hover {
    text-decoration: none;
}

.whiteHover:hover {
    color: $secondaryColor!important;
}

.blackHover:hover {
    color: $darkColor!important;
}

.notAtTop {
    background-color: rgba(255, 255, 255, 0.9);
}

// .navLogo {
//     background-image: url('../img/logo/logo1.png');
//     background-repeat: no-repeat;
//     height: 100%;
//     width: 100%;
// }

.navImageChange {
    background-image: url('../img/logo/logo2.png');
}

.toTopShowing {
    opacity: 1.0;
}

/* ======================= */
/* ======== THEME ======== */
/* ======================= */
